@media screen and (max-width: 900px){
    .left-sec-0{
        display: block;
    }
    .box-0{
        max-width: 80%;
    }
    .left-sec{
        display: none;
    }
    .mid-sec{
        width: 80%;
        margin:auto;
        height: auto;
        max-width:100%;
    }
    .box-2{
        justify-content: space-around;
    }
    .social ul li{
        padding: 1.5rem;
    }
}
