@media screen and (max-width:768px){
    .container{
        overflow-x:hidden;
    }
    .left-sec-0{
        display: block;
    }
    .box-0{
        top:1rem;
        max-width: 95%;
        margin: auto;
        margin-bottom: 3rem;
        padding: 1.8rem;
        gap: 5vh;
    }
    .left-sec{
        display: none;
    }
    .mid-sec{
        width: 80%;
        margin:auto;
        height: auto;
        max-width:100%;
    }
    .box-2{
        justify-content: space-around;
    }
    .social ul li{
        padding: 1.5rem;
    }
    .nav-box{
        display: none;
    }
    .FP_item-2{
        width: 100%;
    }
    #preloader{
        height: 100vh;
    }
    .large{
        font-size: 13vw;
    }
    .time{
        height:16vh;
        padding: 0 13px;
        line-height: 1.5;
    }
    .flex-row{
        justify-content: space-between;
    }
    .M{
        font-size: 3vh;
    }
    .S{
        font-size: 5vw;
    }
    .small{
        font-size: 3.5vw;
    }
    .social ul li{
        padding: 2.4vw;
    }
    .border{
        border-radius: 2.4vh;
    }
    .row{
        flex-wrap: wrap;
    }
    .headings{
        font-size: 10vw;
    }
    .form p{
        font-size: 3.2vw;
    }
    .sec{
        margin: 2vh 1vh 2vh 0;
    }
    .burger{
        font-size: 3vw;
        padding: 1.2vh 1.5vh;
    }
    .bar{
        font-size: 2.4vw;
        padding:1.3vw 2vw;
    }
    .bar i{
        font-size: 2.2vw;
    }
    .open-nav i{
        font-size: 5vw;
        padding: 7vw;
        height: 9vh;
        width: 4vw;
    }
    .open-nav p{
        font-size: 4vw;
        padding: 3vh;
    }
    .open-nav ul{
        margin-left: 0;
    }
    #preloader{
        background-size: 25%;
    }
    .carousell{
        grid-auto-columns: calc((100%) - 12px);
        margin:0;
        gap:0;
    }
    #certificates .btn{
        height:2.9rem;
        width:3rem;
    }
    
}
