@import "basic.css";
/* @import "responsive.css"; */

.wrap{
    max-width: 100rem;
    width: 100%;
    /* display: flex;
    flex-direction: row; */
    margin: 0 auto;
    gap:2rem;
    flex-wrap: wrap;
}
.left-sec-0{
    display: none;
}
.left-sec{
    width:30%;
    display: block;
    /* height:100%; */
}
.mid-sec{
    position: relative;
    margin: auto;
    margin-left: 25rem;
    height:auto;
    max-width:55%;
    display: flex;
    flex-direction: column;
    gap:6rem;
}
.right-sec{
    width:9%;
    margin-left:90%;
    /* height:100%; */
    display: flex;
    justify-content: flex-end;
    
    
}
.burger{
    position: fixed;
    top: 0;
    margin: 15px 0;
    padding: 8px 12px;
    z-index: 4;
    background-color: var(--dark);
    cursor: pointer;
}
.headings{
    font-size: 2.5rem;
    font-weight: 150;
}
.nav-box i{
    padding: 0.6rem 0;
    
}
/* .nav-box i:hover, .navbar .active{
    color: var(--green);
} */
.nav-box{
    position: fixed;
    top: 0;
    display: flex;
    justify-content: right;
    margin-top:12rem;
    margin-right: 5px;
    height:16rem;
    width: 2rem;
    padding: 10px 10px 0 0;
}
.open-nav{
    position: fixed;
    top:0;
    right: 0;
    /* width:20rem; */
    height:100%;
    background-color: black;
    z-index: 1;
    height: 100%;
    width:0rem;
    transition: width 1s;
}
.open-nav.open{
    width: 20rem;
    padding: 2rem;
    z-index: 2;
}

.open-nav ul{
    margin-top: 3rem;
    margin-left: 3rem;
}
.open-nav a{
    
    display: flex;
    flex-direction: row;
}
.open-nav i{
    margin: auto;
    font-size: 1.3rem;
    padding: 5px;
    height: 2rem;
    width:2rem;
}
.open-nav p{
    color: var(--white);
    margin:auto;
    padding: 1rem;
    font-size: 1rem;
}
.navbar ul li{
    display: flex;
    justify-content: flex-end;
}
.navbar ul li a{
    /* color: var(--grey); */
    display: flex;
    flex-direction: row;
    gap: .8rem;
}
.navbar ul li a:hover, .active{
    color: var(--green);
}
.navbar .show{
    font-size: 10px;
    text-align: center;
    height: 18px;
    border-radius: 2px;
    padding: 2px 3px;
    background-color: var(--grey);
    color: var(--white);
}
.nav-box a .show{
    display: none;
}
.nav-box a:hover .show{
    display: block;
}
.box-0{
    position: relative;
    max-width: 54%;
    margin: auto;
    border-style: solid;
    border-radius: 2rem;
    border-color: var(--grey);
    border-width: 1px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    padding: 3rem;
    gap:2.5rem;
}
.box{
    position: fixed;
    padding: 1rem;
    width: 20rem;
    height: 38rem;
    margin: 1rem 1rem;
    color: var(--white);
    border-style: solid;
    border-radius: 2rem;
    border-color: var(--grey);
    border-width: 1px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
}
.box:hover{
    border-color: var(--green);
}
.box-0:hover{
    border-color: var(--green);
}

.image{
    width: 100%;
    display: flex;
    justify-content: center;
}
.box .image img{
    max-width: 16rem;
    display: flex;
    justify-content: center;
    border-radius: 1rem;
}
.box-0 img{
    width:100%;
    max-width: 30rem;
    display: flex;
    justify-content: center;
    border-radius: 1rem;
}

.btn{
    width: 100%;
    padding: .4rem;
    background-color: var(--green);
    border-radius: 2rem;
    display: flex;
    justify-content: center;
    gap: 1rem;
    color: var(--dark);
    border-style: solid;
    border-width: 1px;
    border-color: var(--green);
}
.btn:hover{
    background-color: var(--dark);
    color: var(--green);
}
.btn:hover .S{
    color: var(--green);
}
.social ul{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}
.social ul li{
    margin: 5px;
    padding: 1rem;
}
.social ul li:hover{
    border-color: var(--green);
    color: var(--green);
}
.social ul li a{
    font: 1rem sans-serif;
    color: var(--grey);
}

.head{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.label p{
    font-size: 30px;
    font-weight: 500;
}
#home{
    display: flex;
    flex-direction: row;
    width:100%;
}
.bar{
    font-size: 9px;
    margin-top: 2rem;
    margin-bottom: 3rem;
    color: var(--white);
    padding:4px 11px;
    width:fit-content;
    display: flex;
    flex-direction: row;
    gap:7px;
}
.bar i{
    font-size: 8px;
    margin-top: 2px;
}
.papa{
    display: flex;
    justify-content: flex-end;
}
.projectBtn{
    background-color: transparent;
    color: var(--green);
    text-align: center;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    height: 7rem;
    
}
.item-1 p{
    font-size: 0.8rem;
}
.item-1{
    padding: 36px 24px;
    background-color: var(--dark);
    text-align: center;
    color:var(--grey);
    border-radius: 50%;
    border-style: solid;
    border-width: 1px;
    border-color: var(--grey);
 
}
.item-2{
    padding: 21px 32px;
    color: var(--grey);
    font-weight: 100;
    border-radius: 50%;
    border-style: solid;
    border-width: 1px;
    border-color: var(--grey);
    display: none;
    
}

.projectBtn:hover .item-2{
    display: block;
    
}
.projectBtn:hover .item-1{
    display: none;
}
.foot{
    margin:auto;
}
.label-2{
    color: white;
}
.rectangle{
    height:auto;
    border-radius: 1rem;
    margin: 20px;
}
.rectangle:hover{
    border-color: var(--green);
}
.rectangle:hover .label-2{
    color: var(--green);
    border-color: var(--green);
}
.rectangle:hover .ul{
    text-decoration: underline;

}
.box-2{
    margin-top: 4rem;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}
.smallbox{
    text-align: center;
}
.smallbox i{
    width:8rem;
    height: 11rem;
    padding: 4rem 0;
    margin: 10px;
    border-style: solid;
    border-color: var(--grey);
    border-width: 1px;
    border-radius: 4rem;
}
.smallbox i:hover{
    border-color: var(--green);
}
.timeline{
    margin: 5rem 0;
    width: 100%;
    border-left: 1px solid var(--grey);
    padding: 0 20px 0 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.time{
    padding: 0px 25px;
    line-height: 1.7;
    position:relative;
    height: 110px;
    margin-bottom: 20px;
}
.time::before{
    content: '';
    display: block;
    width: 8px;
    height:8px;
    border-radius: 50%;
    background-color: var(--grey);
    position: absolute;
    top:0px;
    left:-2.13rem;
}
.time:hover::before{
    background-color: var(--green);
}
.time:hover .h{
    color: var(--green);
}
.FeaturedProjects{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin:4rem 0 0rem 0;
}
.FP_item{
    height:auto;
    width: 100%;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
   
}
.FP_item-1{
    display: flex;
    flex-direction: row;
    gap:10px;
    flex-wrap: wrap;

}
.FP_item-2{
    height:auto;
    width: 49%;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
}
.FeaturedProjects img{
    padding: 1rem;
    height: 15rem;
    border-radius: 2rem;

}
.FeaturedProjects .btn{
    background-color: var(--white);
    border: none;
    width: 6rem;
}
.lower{
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin: 0 1rem 1rem 1rem;
    flex-wrap: wrap;
    
}
.form-box{
    width: 100%;
    margin-top: 3rem;
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
}
.row{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    padding: 1rem 0 0 0;
    flex-wrap: nowrap;
}
.sec{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 1rem 1rem 1rem 0;
    
}
.form input{
    background-color: transparent;
    font-size: 14px;
    border: none;
    padding: 10px 10px 10px 0;
    border-bottom: 1px solid;
    border-color: var(--grey);
}
.form p{
    color: var(--white);
    font-size: 12px;
    line-height: 1rem;
}
.form textarea{
    background-color: transparent;
    font-size: 14px;
    border: none;
    height:5rem;
    padding: 10px 10px 10px 0;
    border-bottom: 1px solid;
    border-color: var(--grey);
}

.card img{
    padding: 1rem;
    max-width: 34rem;
    width:98%;
    height: 15rem;
    border-radius: 2rem;
    object-fit: cover;
}
.carousell{
    margin: 1rem;
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: calc((100%/2) - 12px);
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    gap: 16px;
    border-radius: 8px;
    scroll-behavior: smooth;
    scrollbar-width: none;
}
.carousell .card{
    scroll-snap-align: start;
    height: 17rem;
    list-style: none;
    background: transparent;
    cursor: pointer;
    flex-direction: column;
    border-radius: 8px;
}
.carousell::-webkit-scrollbar {
    display: none;
  }
  .carousell.no-transition {
    scroll-behavior: auto;
  }
  .carousell.dragging {
    scroll-snap-type: none;
    scroll-behavior: auto;
  }
  #certificates .FP_item{
    margin-top: 3rem;
  }
  #certificates .btn{
    background-color: transparent;
    color: var(--grey);
    height: 3rem;
    width: 3rem;
    border-color: var(--grey);
    text-align: center;
    cursor: pointer;
  }
  .carousel :where(.card, .img) {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #certificates h2{
    margin-left: 1rem;
  }